
:root {

/* Space xs: 12px → 16px */
    --space-xs: clamp(0.75rem, calc(0.66rem + 0.43vw), 1.00rem);

/* Space 3xl: 132px → 168px */
    --space-3xl: clamp(8.25rem, calc(7.47rem + 3.91vw), 10.50rem);



/* FONT CALCULATIONS */

/* Step 1: 28.45px → 55.12px */
    --step-1: clamp(1.78rem, calc(1.20rem + 2.90vw), 3.45rem);

/* Step 2: 31.61px → 63.23px */
    --step-2: clamp(1.98rem, calc(1.29rem + 3.44vw), 5.95rem);

}